.edge {
    stroke: #0005;
    stroke-width: 3px;
    transition: all 0.2s;
    cursor: pointer;
}

.edge:hover {
    stroke: #000a;
    stroke-width: 3px;
    filter: url(#blur0);
}

.edge:global(.highlighted) {
    stroke: #0006;
    stroke-width: 3px;
    filter: url(#shadow);
}

.edge:global(.selected) {
    stroke: #000a;
    stroke-width: 3px;
    filter: url(#shadow);
}

.edge:global(.draft),
.edge:global(.draft):hover {
    stroke: #000;
    stroke-width: 3px;
    filter: url(#shadow);
    cursor: pointer;
}