.handleBox {
    overflow: visible;
}

.handleWrapper {
    overflow: visible;
}

.handle {
    fill: skyblue;
    stroke: blue;
    transition: fill 0.2s, stroke 0.2s;
}

.handle:hover {
    fill: white;
    stroke: gray;
}

.handle:active {
    fill: #1166CC;
    stroke: black;
}