.node {
    overflow: visible;
}

.nodeRect {
    fill: #77AAFFFF;
    stroke: black;
    stroke-width: 0.5px;
    transition: fill 0.2s;
}

.node:hover .nodeRect {
    fill: #77CCFF88;
}

.node:global(.selected) .nodeRect {
    fill: #6699CC;
}

.nodeText {
    cursor: default;
    text-anchor: middle;
    dominant-baseline: middle;
    user-select: none;
}